{% extends 'base.html' %}

{% block title %} admin {% endblock %}

{% block message %}
{% if data and data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-5">
        <ul class="list-group list-group-flush">
            <a class="list-group-item mt-3" aria-current="page" href="/list-users">
                <h3>Users</h3>
            </a>
            <a class="list-group-item mt-3" href="/list-positions">
                <h3>User Positions</h3>
            </a>
            <a class="list-group-item mt-3" href="/tokens">
                <h3>Tokens</h3>
            </a>
            <a class="list-group-item mt-3" href="/clients">
                <h3>Clients</h3>
            </a>
            <a class="list-group-item text-danger mt-3" href="/admin-logout">
                <h3>Log Out</h3>
            </a>
        </ul>
    </div>
</div>
{% endblock %}