{% extends 'base.html' %}

{% block title %} log in {% endblock %}

{% block message %}
{% if data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/admin" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary btn-md">Submit</button>
        </form>
    </div>
</div>
{% endblock %}