{% extends 'base.html' %}

{% block title %}logout{% endblock %}

{% block content %}
<div class="containre">
    <div class="row justify-content-center mt-5">
        <div class="col-md-2 justify-content-center mt-5">
            <div class="row">
                <a href="/admin-page" class="btn btn-secondary btn-lg btn-block mt-3">Cancel</a>
            </div>
            <form class="row" action="/admin-logout" , method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit" class="btn btn-danger btn-lg btn-block mt-3">Confirm</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}