{% extends 'base.html' %}

{% block title %}user{% endblock %}

{% block message %}
{% if data and data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/client/{{ client.id }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="mb-4">
                <label for="exampleInputClientID" class="form-label">Client ID</label>
                <input name="client_id" type="text" class="form-control" id="exampleInputClientID"
                    value="{{ client.client_id }}">
            </div>
            <div class="mb-4">
                <label for="exampleInputClientSecret" class="form-label">Client Secret</label>
                <input name="client_secret" type="text" class="form-control" id="exampleInputClinetSecret"
                    value="{{ client.client_secret }}">
            </div>
            <div class="mb-4">
                <label for="exampleInputName" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputName" value="{{ client.name }}">
            </div>
            <div class="mb-4">
                <label for="exampleInputMetadata" class="form-label">Metadata</label>
                <input name="client_metadata" type="text" class="form-control" id="exampleInputMetadata"
                    value="{{ client._client_metadata }}">
            </div>
            <div class="mb-4">
                <label for="exampleInputUserID" class="form-label">User ID</label>
                <input name="user_id" type="text" class="form-control" id="exampleInputUserID"
                    value="{{ client.user_id}}">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
            <a href="/clients" class="btn btn-danger btn-lg align-items-end">Cancel</a>
        </form>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/delete-client/{{ client.id }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-danger btn-lg w-100">Delete</button>
        </form>
    </div>
    {% endblock %}