{% extends 'base.html' %}

{% block title %}user{% endblock %}

{% block message %}
{% if data and data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/create-user" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% if user %}
            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="{{user.email}}">
            </div>
            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="text" class="form-control" id="exampleInputPassword1"
                    value="{{user.password}}">
            </div>
            <div class="mb-4">
                <label for="exampleInputFirstName" class="form-label">First name</label>
                <input name="first_name" type="text" class="form-control" id="exampleInputFirstName"
                    value="{{user.first_name}}">
            </div>
            <div class="mb-4">
                <label for="exampleInputLastName" class="form-label">Last name</label>
                <input name="last_name" type="text" class="form-control" id="exampleInputLastName"
                    value="{{user.last_name}}">
            </div>
            <div class="mb-4">
                <label for="exampleInputMiddleName" class="form-label">Middle name</label>
                <input name="middle_name" type="text" class="form-control" id="exampleInputMiddleName"
                    value="{{user.middle_name}}">
            </div>
            {% else %}
            <div class="mb-4">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="">
            </div>
            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="text" class="form-control" id="exampleInputPassword1" value="">
            </div>
            <div class="mb-4">
                <label for="exampleInputFirstName" class="form-label">First name</label>
                <input name="first_name" type="text" class="form-control" id="exampleInputFirstName" value="">
            </div>
            <div class="mb-4">
                <label for="exampleInputLastName" class="form-label">Last name</label>
                <input name="last_name" type="text" class="form-control" id="exampleInputLastName" value="">
            </div>
            <div class="mb-4">
                <label for="exampleInputMiddleName" class="form-label">Middle name</label>
                <input name="middle_name" type="text" class="form-control" id="exampleInputMiddleName" value="">
            </div>
            {% endif %}
            <div class="mb-4">
                <label for="exampleInputPosition" class="form-label">Position</label>
                <select class="form-select" aria-label="Default select example" name="user_position"
                    id="exampleInputPosition">
                    {% if user %}
                    <option selected>{{user.user_position.name}}</option>
                    {% else %}
                    <option selected>{{u_positions[0].name}}</option>
                    {% endif %}
                    {% for position in u_positions %}
                    <option value="{{position.name}}">{{position.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
            <a href="/list-users" class="btn btn-danger btn-lg align-items-end">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}