{% extends 'base.html' %}

{% block title %}user{% endblock %}

{% block message %}
{% if data and data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/create-position" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {% if position %}
            <div class="mb-4">
                <label for="exampleInputName" class="form-label">Position</label>
                <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                    value="{{position.name}}">
            </div>
            <div class="mb-4">
                <label for="exampleInputDescription" class="form-label">Description</label>
                <input name="description" type="text" class="form-control" id="exampleInputDescription"
                    value="{{position.description}}">
            </div>
            {% else %}
            <div class="mb-4">
                <label for="exampleInputName" class="form-label">Position</label>
                <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                    value="">
            </div>
            <div class="mb-4">
                <label for="exampleInputDescrioption" class="form-label">Desctiption</label>
                <input name="description" type="text" class="form-control" id="exampleInputDesctiption" value="">
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
            <a href="/list-positions" class="btn btn-danger btn-lg align-items-end">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}