{% extends 'base.html' %}

{% block title %}positions{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col align-self-start">
            <a class="btn btn-secondary btn-lg w-100 mb-3" href="/admin-page">Back</a>
        </div>
        <div class="col align-self-end">
            <a class="btn btn-secondary btn-lg w-100 mb-3" href="/create-client">New client</a>
        </div>
        <ul class="list-group list-group-flush mt-3">
            {% for client in clients %}
            <a href="/client/{{client.id}}" class="list-group-item">
                <h4>{{ client.name }}: {{ client.client_id}} {{ client.user }}</h4>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}}