{% extends 'base.html' %}

{% block title %}users{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col align-self-start">
            <a class="btn btn-secondary btn-lg w-100 mb-3" href="/admin-page">Back</a>
        </div>
        <div class="col align-self-end">
            <a class="btn btn-secondary btn-lg w-100 mb-3" href="/create-user">New user</a>
        </div>
        <ul class="list-group list-group-flush mt-3">
            {% for user in data %}
            <a href="/user/{{ user.id }}" class="list-group-item">
                <h4>{{ user.email }} {{ user }}</h4>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}