{% extends 'base.html' %}

{% block title %}positions{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-5">
        <div class="col align-self-start">
            <a class="btn btn-secondary btn-lg w-100 mb-3" href="/admin-page">Back</a>
        </div>
        <ul class="list-group list-group-flush mt-3">
            {% for token in tokens %}
            <a href="/token/{{token.id}}" class="list-group-item">
                <h4>{{ token.access_token }} {{ token.client }}</h4>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}}