{% extends 'base.html' %}

{% block title %}user{% endblock %}

{% block message %}
{% if data and data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/position/{{ position.id }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="mb-4">
                <label for="exampleInputName" class="form-label"></label>
                <input name="name" type="text" class="form-control" id="exampleInputName" value="{{position.name}}">
            </div>
            <div class="mb-4">
                <label for="exampleInputDescription" class="form-label"></label>
                <input name="description" type="text" class="form-control" id="exampleInputDescription"
                    value="{{position.description}}">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
            <a href="/list-positions" class="btn btn-danger btn-lg align-items-end">Cancel</a>
        </form>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/delete-position/{{position.id}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-danger btn-lg w-100">Delete</button>
        </form>
    </div>
    {% endblock %}