{% extends 'base.html' %}

{% block title %}token{% endblock %}

{% block message %}
{% if data and data['message'] %}
<div class="alert alert-warning text-center" role="alert">
    {{ data['message'] }}
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="mb-4">
            <h3>{{ token.access_token }}</h3>
        </div>
        <div class="mb-4">
            <h3>{{ token.client }}</h3>
        </div>
        <a href="/tokens" class="btn btn-danger btn-lg align-items-end">Cancel</a>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <form class="col-sm-5 justify-content-center mt-5" action="/token/{{token.id}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-danger btn-lg w-100">Delete</button>
        </form>
    </div>
</div>
{% endblock %}